
body {
  background-color: rgb(46, 46, 58);
}

.navWrapper {
  display: flex;
  flex-wrap: wrap;
}

.navLinks {
  text-decoration: none;
  color: lightblue;
  padding: 1rem;
}

p {
  color: white;
  font-size: 3rem;
}

img {
  width: 400px;
  height: 550px;
  object-fit: cover;
}

.imgWrapper {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

